/*----------------Header----------------------------------------------------*/
#header {
	background-color: #3d1755;
	color: #fcfcf7; 
}

#header div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
/*----------------Header----------------------------------------------------*/


/*----------------Global Navigation-----------------------------------------*/
.top-menu {
	align-items: stretch;
	height: 100%;
}

.top-menu > li > a {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1.5vw;
	color: #fcfcf7;
	font-size: 1.1rem;
}

.top-menu li a:hover,
.top-menu li a:active {
	color: #b4d11e;
	border-bottom: 3px solid #b4d11e;
}

.enter-btn-menu {
	display: none;
}
/*----------------Global Navigation-----------------------------------------*/


/*----------------Subscribtion----------------------------------------------*/
.subscription-btns {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.subscription-btns .button {
	margin: auto 10px;
	width: 100px;
	border: 1px solid #b4d11e;
}

.sign-up {
	background-color: #b4d11e;
	color: #3d1755;
}
/*----------------Subscribtion----------------------------------------------*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*---------------Main news--------------------------------------------------*/
.main-news {
	flex-direction: column;
	background-color: #3d1755;
	flex-direction: row;
	justify-content: center;
	padding: 30px 30px;
}

.wrapper-main-news {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1024px;
}

.column {
	margin: 20px;
}

.left-column {
	width: calc(66.666% - 20px);
}

.foto-news img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.foto-news .foto {
	width: 100%;
}

.left-column .foto-news {
	height: 100%;
}

.foto-news {
	display: flex;
	position: relative;
	line-height: 1.5;
	width: 100%;
}

.right-column .foto-news {
	height: calc(50% - 10px);
}

.right-column {
	display: flex;
	width: calc(33.333% - 20px);
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.foto-news-text {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	max-height: 40%;
	min-width: 100%;
	padding: 4%;
	background-color: rgb(252, 252, 247, 0.7);
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
}

.foto-news-text p {
	display: block;
	font-size: 0.9rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.foto-news-text p,
.foto-news-text h6 {
	color: #553e46;
}

.foto-news-text:hover {
	top: 0;
	min-height: 100%;
	background-color: rgb(180, 209, 30, 0.6);
}

.foto-news-text:hover p {
	color: #1f0c2b;
}

.right-column .foto-news-text:hover p {
	display: block;
	font-size: 0.8rem;
}

.foto-news-text h3 {
	font-size: 1.2rem;
}

.foto-news-text h6 {
	font-size: 0.7rem;
}

.right-column .foto-news-text h3 {
	font-size: 1rem;
	line-height: 1.4;
}

.right-column .foto-news-text p {
	display: none;
}

@media(max-width: 640px) {
	.right-column {
		display: none;
	}

	.wrapper-main-news,
	.left-column {
		width: 100%;
	}

	.column {
		margin: 10px;
	}
}
/*---------------Main news--------------------------------------------------*/

/*----------------Main------------------------------------------------------*/
.wrapper-news {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}

.filter-panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 20%;
	margin: 30px 30px 30px 0;
	padding: 30px;
	border-radius: 20px;
	background-color: #776477;
	color: #fcfcf7;
}

.news {
	flex-direction: column;
	flex-grow: 9;
	flex-shrink: 7;
	margin: 30px;
	padding: 0;
}

.no-news-text {
	padding-top: 20px;
}
/*----------------Main------------------------------------------------------*/

/*----------------Search----------------------------------------------------*/
.search {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #776477;
}

.search input, .search button {
	margin: 0;
	border: none;
	background: transparent;
}

.search input {
	padding: 12px 17px;
	flex-grow: 1;
}

.search button {
	width: 40px;
	height: 40px;
}

.search button::before {
	content: "\f002";
	font-family: "FontAwesome";
	font-size: 1.1rem;
	color: #776477;
}
/*----------------Search----------------------------------------------------*/

/*---------------Source panel-----------------------------------------------*/
.source-filter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.sourses li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-weight: 600;
	border-bottom: 1px solid #3d1755;
	cursor: pointer;
}

.sourses li.active {
	background-color: #84b000;
}

.sourses li:hover {
	background-color: #b4d11e;
}
/*---------------Sourse panel-----------------------------------------------*/

/*---------------News-------------------------------------------------------*/
.news-tags {
	width: 100%;
} 

.news-tags h3 {
	display: block;
	padding: 15px 30px;
	text-transform: uppercase;
	text-align: center;
	background-color: #3d1755;
	color: #fcfcf7;
	border-radius: 20px;
}

.news-tags .tag {
	display: none;/*block*/
	margin: 10px 0;
	padding: 5px 20px;
	border-radius: 20px;
	font-size: 0.9rem;
}

.news-list li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 30px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 20px;
}

.news-list li > .news-foto {
	min-width: 40%;
	max-width: 40%;
}

.news-list li > .news-data {
	margin: 20px 40px;
}

.news-list li > .news-foto a img {
	width: 100%; 
	height: 100%;
	object-fit: cover;
}

.news-list li > .news-data h5 {
	font-size: 1.3rem;
	color: #3d1755;
	font-weight: 600;
	text-transform: uppercase;
}

.news-list li > .news-foto img:hover {
	/*green + read more...*/
}

.news-list li > .news-data h5:hover {
	color: #b4d11e;
}

.news-list li > .news-data h6 {
	color: #553e46;
}

.news footer {
	width: 100%;
}

.load-more-button {
	margin: 30px auto;
	width: 50%;
	font-weight: 600;
	color: #3d1755;
	background-color: #fcfcf7;
	border: 2px solid #3d1755;
}

.load-more-button:hover {
	color: #fcfcf7;
	background-color: #b4d11e;
	border-color: #b4d11e;
}
/*---------------News-------------------------------------------------------*/

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*---------------Footer-----------------------------------------------------*/
#footer {
	background-color: #3d1755;
	color: #fcfcf7;
}

#footer a{
	color: #fcfcf7;
}

#footer a:hover{
	color: #b4d11e;
}
/*---------------Footer-----------------------------------------------------*/

/*---------------Footer menu------------------------------------------------*/
.foot-menu > li {
	padding: 0 20px;
	border-right: 1px solid #fcfcf7;
	font-size: 0.9rem;
}

.foot-menu > li:last-child {
	border-right: 0px;
}
/*---------------Footer menu------------------------------------------------*/

/*---------------Copyright--------------------------------------------------*/
.copyright {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.footer-logo img {
	height: 30px;
}
/*---------------Copyright--------------------------------------------------*/

/*---------------Social networks--------------------------------------------*/
.social-networks a {
	margin: 5px;
	font-family: "FontAwesome";
	font-size: 1.5rem;
}
/*---------------Social networks--------------------------------------------*/